# dependencies
/node_modules
/.pnpm-store

# testing
/.next
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files (IMPORTANT — env files ko repo mein nahi push karna)
.env
.env.local
.env.production
.env.staging
.env.*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/app/generated/prisma
